body {
    font-family: 'Bebas Neue', sans-serif;
    /* add space between letters */
    letter-spacing: 1px;
    /* reduce bold effect */
    opacity: 0.9;
    text-align: center;
}
 
h1 {
    margin-top: 50px;
}

.table_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    width: 90%;
    table-layout: fixed;
    margin: auto;
    border-collapse: separate;
    border-spacing: 10px 15px;
    background-color: white;
    box-shadow: 0px, 4px, 10px, rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #b8bedd;
    color: #3c096c;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    /* remove bold */
    font-weight: normal;
}

td {
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: left;
}

td, th {
    border-radius: 10px;
    text-align: center;
    height: 50px; 
    min-width: 40px;
    
    /* if the text is too large */
    overflow: hidden;
    /* cut the long text with "..." */
    text-overflow: ellipsis;
    white-space: nowrap;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    /* background-color: #f0e6ef; */
    background-color: #3c096c22;
    transition: 0.3s;
}


.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px
}

.filter-container label {
    font-size: 18px;
    color: #3c096c;
}

#filter {
    width: 300px;
    padding: 12px;
    border: 2px solid #b8bedd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease-in-out;
    background-color: white;
    color: #3c096c;
    text-align: center;
}

#filter::placeholder {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #b8bedd;
}

#filter:focus {
    border-color: #5a189a;
    box-shadow: 0px 0px 10px rgba(90, 24, 154, 0.4);
}

#sorting-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

select, button, input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

button {
    padding: 5px 10px;
    background-color: #b8bedd;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

button:hover {
    background-color: #5a189a;
}

/* switch for asc/desc sorting */

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
}

/* hide standart checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* slider background */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.3s;
}

/* circle element in toggle */
.slider:before {
    /* initial name for circle  */
    content: "ASC"; 
    position: absolute;
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: 0.3s;
}

/* when checkbox checked */
input:checked + .slider {
    background-color: #5a189a;
}

/* move to the right */
input:checked + .slider:before {
    transform: translateX(38px);
    /* change the text */
    content: "DESC";
}
/* delete the background from the first td because it is a film image */
td:first-child {
    padding: 0; 
    width: 125px; 
    height: 250px;
}

/* set film image to the full space in the table cell */
td:first-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
/* make the first td transparent because there will be no text */
th:first-child {
    background-color: transparent !important;
}
